<div class="dashboard-main-body">
    <app-breadcrumb [title]="title"></app-breadcrumb>

    <div class="card h-100 p-0 radius-12">
        <div class="card-body p-24">
            <div class="row justify-content-center">
                <div class="col-xxl-6 col-xl-8 col-lg-10">
                    <div class="card border">
                        <div class="card-body">
                            <h6 class="text-md text-primary-light mb-16">Profile Image</h6>

                            <!-- Upload Image Start -->
                            <div class="mb-24 mt-16">
                                <div class="avatar-upload">
                                    <div
                                        class="avatar-edit position-absolute bottom-0 end-0 me-24 mt-16 z-1 cursor-pointer">
                                        <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" hidden>
                                        <label for="imageUpload"
                                            class="w-32-px h-32-px d-flex justify-content-center align-items-center bg-primary-50 text-primary-600 border border-primary-600 bg-hover-primary-100 text-lg rounded-circle">
                                            <iconify-icon icon="solar:camera-outline" class="icon"></iconify-icon>
                                        </label>
                                    </div>
                                    <div class="avatar-preview">
                                        <div id="imagePreview"> </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Upload Image End -->

                            <form (ngSubmit)="addStaff()">
                                <div class="row">
                                    <div class="col-md-6 mb-20">
                                        <label for="name" class="form-label fw-semibold text-primary-light text-sm mb-8">Staff Name <span class="text-danger-600">*</span></label>
                                        <input type="text" class="form-control radius-8" id="name" [(ngModel)]="newStaff.name" name="name" placeholder="Enter Staff Name" required>
                                    </div>
                                    <div class="col-md-6 mb-20">
                                        <label for="cnic" class="form-label fw-semibold text-primary-light text-sm mb-8">CNIC <span class="text-danger-600">*</span></label>
                                        <input type="text" class="form-control radius-8" id="cnic" [(ngModel)]="newStaff.cnic" name="cnic" placeholder="Enter CNIC (e.g., 35202-1234567-8)" required>
                                    </div>
                                    <div class="col-md-6 mb-20">
                                        <label for="gender" class="form-label fw-semibold text-primary-light text-sm mb-8">Gender <span class="text-danger-600">*</span></label>
                                        <select class="form-control radius-8 form-select" id="gender" [(ngModel)]="newStaff.gender" name="gender" required>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 mb-20">
                                        <label for="dob" class="form-label fw-semibold text-primary-light text-sm mb-8">Date Of Birth <span class="text-danger-600">*</span></label>
                                        <input type="date" class="form-control radius-8" id="dob" [(ngModel)]="newStaff.dob" name="dob" required>
                                    </div>
                                    <div class="col-md-6 mb-20">
                                        <label for="phone" class="form-label fw-semibold text-primary-light text-sm mb-8">Phone <span class="text-danger-600">*</span></label>
                                        <input type="text" class="form-control radius-8" id="phone" [(ngModel)]="newStaff.phone" name="phone" placeholder="Enter phone number (e.g., 0312-1234567)" required>
                                    </div>
                                    <div class="col-md-6 mb-20">
                                        <label for="email" class="form-label fw-semibold text-primary-light text-sm mb-8">Email</label>
                                        <input type="email" class="form-control radius-8" id="email" [(ngModel)]="newStaff.email" name="email" placeholder="Enter email address">
                                    </div>
                                    <div class="col-md-6 mb-20">
                                        <label for="qualification" class="form-label fw-semibold text-primary-light text-sm mb-8">Qualification</label>
                                        <input type="text" class="form-control radius-8" id="qualification" [(ngModel)]="newStaff.qualification" name="qualification" placeholder="Enter Qualification (e.g., MBA, BS IT)">
                                    </div>
                                  
                                    <div class="col-md-6 mb-20">
                                        <label for="role" class="form-label fw-semibold text-primary-light text-sm mb-8">Role</label>
                                        <select class="form-control radius-8 form-select" id="role" [(ngModel)]="newStaff.role" name="role">
                                            <option value="">Select Role</option>
                                            <option value="teacher">Teacher</option>
                                            <option value="principal">Principal</option>
                                            <option value="admin">Admin</option>
                                            <option value="accountant">Accountant</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 mb-20">
                                        <label for="joiningDate" class="form-label fw-semibold text-primary-light text-sm mb-8">Joining Date <span class="text-danger-600">*</span></label>
                                        <input type="date" class="form-control radius-8" id="joiningDate" [(ngModel)]="newStaff.joiningDate" name="joiningDate" required>
                                    </div>
                                    <div class="col-md-6 mb-20">
                                        <label for="status" class="form-label fw-semibold text-primary-light text-sm mb-8">Status <span class="text-danger-600">*</span></label>
                                        <select class="form-control radius-8 form-select" id="status" [(ngModel)]="newStaff.status" name="status" required>
                                            <option value="active">Active</option>
                                            <option value="inActive">In Active</option>
                                            <option value="on Leave">On Leave</option>
                                        </select>
                                    </div>
                                    <div class="col-12 mb-20">
                                        <label for="address" class="form-label fw-semibold text-primary-light text-sm mb-8">Address <span class="text-danger-600">*</span></label>
                                        <textarea class="form-control radius-8" id="address" [(ngModel)]="newStaff.address" name="address" placeholder="Enter complete address" rows="3" required></textarea>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-center gap-3">
                                    <button type="button" (click)="cancel()"
                                        class="border border-danger-600 bg-hover-danger-200 text-danger-600 text-md px-56 py-11 radius-8">
                                        Cancel
                                    </button>
                                    <button type="submit"
                                        class="btn btn-primary border border-primary-600 text-md px-56 py-12 radius-8">
                                        Save
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>